%div.row#books-list
  %div.col-md-6
    %h2=t('.title')
    = render partial: 'book', collection: @books, spacer_template: 'shared/separator'
    = will_paginate @books, previous_label: 'Previous', next_label: 'Next'
