/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$gray: #eaeaea;

body {
  padding: 60px 0 0 0;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

ul, ol {
  list-style: none;
}

/* header */
header {
  #logo {
    float: left;
    margin: 0 10px 0 0;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 10px;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
  }
  .btn {
    color: white !important;
    padding: 5px 15px 5px 15px !important;
    margin: 8px 15px 0 0;
    &:hover {
      background-color: #46b8da !important;
    }
  }
  .dropdown-toggle {
    font-size: 18px;
  }
}

/* footer */
footer {
  margin-top: 30px;
  padding: 10px 0 10px 0;
  border-top: 1px solid $gray;
  text-align: center;
  color: #778899;
}
