/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$gray: #eaeaea;

body {
  padding: 60px 0 0 0;
}

th {
  text-align: center;
}

ul, ol {
  list-style: none;
  padding-left: 0;
}

/* header */
header {
  #logo {
    float: left;
    margin: 0 10px 0 0;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 10px;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
  }
  .btn {
    color: white !important;
    padding: 5px 15px 5px 15px !important;
    margin: 8px 15px 0 0;
    &:hover {
      background-color: #46b8da !important;
    }
  }
  .dropdown-toggle {
    font-size: 18px;
  }
}

/* footer */
footer {
  margin-top: 30px;
  padding: 10px 0 10px 0;
  border-top: 1px solid $gray;
  text-align: center;
  color: #778899;
}

/* error */
.error-messages {
  ul {
    padding: 0 0 0 15px;
    list-style: initial;
  }
}

.field_with_errors {
  @extend .has-error;
}

/* will_paginate */
.pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
  width: 100%;
  a, span {
    padding: 0.2em 0.3em
  }
  .disabled {
    color: #aaaaaa;
    span {
      background: #f1f1f1;
    }
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background-color: darken(#f1f1f1, 20);
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(white, .8) 1px 1px 1px;
  }
  a {
    text-decoration: none;
    color: black;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
