#books-list,
#users-show {
  .book-info {
    div {
      line-height: 1.5;
    }
  }
}

#books-show {
  margin-top: 30px;
  .book-info {
    width: 330px;
    .row {
      line-height: 1.8;
    }
    .fa-user {
      font-size: 1.3em;
      color: #da4740;
    }
  }
  .actions {
    padding: 5px 0 0 0;
    .book-user {
      padding: 0 0 10px 0;
      .book-users-count {
        font-size: 1.3em;
        font-weight: bold;
      }
    }
  }
}

.book-item {
  padding: 10px;
}
.book-image {
  float: left;
  margin: 0 20px 0 0;
}
.book-info {
  float: left;
}
.book-title {
  font-weight: bold;
  a {
    &:hover {
      color: #e47911;
      text-decoration: none;
    }
  }
}
.rental-item {
  float: left;
  width: 150px;
  padding: 0 10px 10px 10px;
  input[type=submit] {
    width: 100%;
    margin-top: 5px;
  }
}
