#books-list,
#users-show {
  .books-image {
    float: left;
    margin-right: 10px;
  }
  .books-info {
    float: left;
    div {
      line-height: 1.5;
    }
  }
  .books-title a {
    font-weight: bold;
    &:hover {
      color: #e47911;
      text-decoration: none;
    }
  }
  .item {
    padding: 10px;
    border-top: 1px solid #e8e8e8;
  }
}

#books-show {
  margin-top: 30px;
  .book-image {
    float: left;
    margin: 0 20px 0 0;
  }
  .book-title {
    font-weight: bold;
    a {
      &:hover {
        color: #e47911;
        text-decoration: none;
      }
    }
  }
  .book-info {
    float: left;
    width: 330px;
    .row {
      line-height: 1.8;
    }
    .fa-user {
      font-size: 1.3em;
      color: #da4740;
    }
  }
  .actions {
    padding: 5px 0 0 0;
    .book-user {
      padding: 0 0 10px 0;
      .book-users-count {
        font-size: 1.3em;
        font-weight: bold;
      }
    }
  }
}