#sign-up, #sign-in {
  .btn {
    width: 100%;
  }
}

#sign-in {
  .form-inline {
    margin: -10px 0 5px 0;
    .radio input[type="radio"],
    .checkbox input[type="checkbox"] {
      float: left;
      margin-right: 5px;
    }
    label {
      color: #778899;
    }
  }
}

#user-edit {
  #delete-account {
    color: #B00100;
    a {
      color: #000;
    }
  }
}
