#users {
  tr > td {
    vertical-align: middle;
  }
  .edit {
    font-size: 150%;
    a {
      color: black;
      &:hover {
        color: GrayText;
      }
    }
  }
}

#users-show {
  margin-top: 30px;
  .user-image {
    float: left;
    margin: 0 20px 0 0;
  }
  .user-name {
    font-weight: bold;
  }
  .user-info {
    float: left;
    width: 230px;
    .row {
      line-height: 1.8;
    }
    .fa-book {
      font-size: 1.3em;
      color: #4682b4;
    }
  }
  .actions {
    padding: 5px 0 0 0;
    .user-book {
      padding: 0 0 10px 0;
      .user-books-count {
        font-size: 1.3em;
        font-weight: bold;
      }
    }
  }
}

#user-edit {
  .user-image {
    label {
      padding-top: 40px;
    }
    img {
      margin: 0 10px 0 0;
    }
    input[type=file] {
      display: inline-block;
    }
    input[type=checkbox] {
      margin: 10px 0 0 0;
    }
  }
}

.user-image img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}