#users {
  tr > td {
    vertical-align: middle;
  }
  .edit {
    font-size: 150%;
    a {
      color: black;
      &:hover {
        color: GrayText;
      }
    }
  }
}

#users-show {
  margin-top: 30px;
  .user-image {
    float: left;
    margin: 0 20px 0 0;
  }
  .user-name {
    font-weight: bold;
  }
  .user-info {
    float: left;
    width: 330px;
    .row {
      line-height: 1.8;
    }
    .fa-book {
      font-size: 1.3em;
      color: #4682b4;
    }
  }
  .actions {
    padding: 5px 0 0 0;
    .user-book {
      padding: 0 0 10px 0;
      .user-books-count {
        font-size: 1.3em;
        font-weight: bold;
      }
    }
  }
  h2 {
    position: relative;
    padding: 0 0 .2em 1.6em;
    border-bottom: 1px solid #ccc;
  }
  h2::before,
  h2::after {
    position: absolute;
    content: '';
    border-radius: 100%
  }
  h2::before {
    top: .1em;
    left: .1em;
    z-index: 2;
    width: 24px;
    height: 24px;
    background: rgba(150, 150, 150, .5);
  }
  h2::after {
    top: .5em;
    left: .5em;
    width: 19px;
    height: 19px;
    background: rgba(210, 210, 210, .5);
  }

}
